<div class="container-fluid">
    <div class="row">
        <div class="search col-3 d-flex align-items-center mx-3 mb-1">
                <label for="search">Szűrés: </label>
                <select name="" id="key" class="form-control mr-sm-2" (change)="onChangeKey($event)">
                    <option value="name">szerző</option>
                    <option value="title">cím</option>
                    <option value="description">leírás</option>
                </select>
                <input id="search" (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search" [value]="phrase">
        </div>
    </div>
    <div class="row">
        <ng-container *ngFor="let product of products | filter:phrase:key; let _i = index">
            <div [ngClass]="(_i % 5) == 0? 'col-sm-12 col-md-6 col-lg-2 offset-0 offset-lg-1 px-1 my-2 d-flex justify-content-center': 'col-sm-12 col-md-6 col-lg-2 offset-0 px-1 my-2 d-flex justify-content-center'">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </ng-container>
    </div>
</div>