<div class="container-fluid">
    <div class="row">
        <div class="search col-3 d-flex flex-row align-items-center mx-3">
                <label for="search">Név: </label>
                <input id="search" (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
    </div>
    <div class="row">
        <ng-container *ngFor="let product of products | filter:phrase:'name'; let _i = index">
            <div [ngClass]="(_i % 5) == 0? 'col-sm-12 col-md-6 col-lg-2 offset-0 offset-lg-1': 'col-sm-12 col-md-6 col-lg-2 offset-0'">
                <p>{{ product.name }}</p>
            </div>
        </ng-container>
    </div>
</div>