<div class="container-fluid py-3 bg-warning">
    <div class="row py-3">
        <div class="col-12 ">
            <p class="h1 text-center "> Kiemelt könyveink a {{catName}} kategóriából </p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-12 ">
            <!-- csabadoki komponense-->
            <app-product-pager [products]="featuredProducts"></app-product-pager>
        </div>
    </div>

    <div class="row py-3 bg-primary">
        <div class="col-12">
            <p class="h1 text-center"> Könyvlistánk a {{catName}} kategóriából </p>
        </div>
        <div class="col-12">
            <!-- kkovacsics komponense-->
            <app-product-list [products]="filteredProducts"> </app-product-list>
        </div>
    </div>
</div>

<footer class="text-white text-center text-md-left bg-primary pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <h3>Navigáció</h3>
                <nav class="nav">
                    <a href="/src/app/page/home/home.component.html">Főoldal</a>
                </nav>
            </div>

            <div class="col-md-4 d-flex align-items-center">
                <h3>Elérhetőségek</h3>

            </div>
            <div class="col-md-4 text-right">
                <address>
                    panCSERKÓdolók Kft. <br>
                    Soha meg nem találod utca 26.
                </address>

            </div>
        </div>
    </div>
</footer>