<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-new-product></app-new-product>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div><p class="h3">A könyvek adatainak szerkesztése</p></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <form class="form-inline m-2">
          <div class="form-group">
              <div class="form-group row">
                <label for="search" class="mx-2">Oldalméret: </label>
                <select name="" id="page" class="form-control" [value]="pageSize" (change)="onChangePageSize($event)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
                <label for="search" class="mx-2">Lapozás: </label>
                  <a class="page-link" (click)="onNextPage(-1)">&laquo;</a>
                  <select name="" id="page" class="form-control" [value]="page" (change)="onChangePage($event)">
                      <option *ngFor="let i of pages" [value]="i">{{ i }}</option>
                  </select>
                  <a class="page-link" (click)="onNextPage(1)">&raquo;</a>
              </div>
          </div>
      </form>
      <form class="form-inline m-2">
        <div class="form-group">
            <div class="form-group row">
                <label for="search" class="mx-2">Szűrés: </label>
                <select name="" id="key" class="form-control mr-sm-2" (change)="onChangeKey($event)">
                    <option value="name">szerző</option>
                    <option value="title">cím</option>
                    <option value="description">leírás</option>
                    <option value="price">ár</option>
                    <option value="publisher">kiadó</option>
                    <option value="releaseYear">kiadás</option>
                </select>
                <input id="search" (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search" [value]="phrase">
                <label for="search" class="mr-2">Rendezés: </label>
                <select name="" id="order" class="form-control mr-sm-2" [value]="order" (change)="onChangeOrder($event)">
                    <option value="id">id</option>
                    <option value="name">szerző</option>
                    <option value="title">cím</option>
                    <option value="description">leírás</option>
                    <option value="price">ár</option>
                    <option value="publisher">kiadó</option>
                    <option value="releaseYear">kiadás</option>
                </select>
            </div>
        </div>
    </form>
  </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" *ngFor="let col of cols" >
                <button class="text-center btn" >{{ col.text }}</button>
                <div class="row d-flex justify-content-center">
                    <button class="text-center btn btn-info m-2" (click)="onSortUpClick(col.key, 'up')"><i class="fa fa-arrow-circle-up"></i></button>
                    <button class="text-center btn btn-info m-2" (click)="onSortDownClick(col.key,'down')"><i class="fa fa-arrow-circle-down"></i></button>
                </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products$ | async | filter:phrase:key | sorter:order:sortDirection | slice:((page-1)*pageSize):(page*pageSize)">
            <td *ngFor="let col of cols">
              <input *ngIf="col.type=='text'" [(ngModel)]="product[col.key]" [type]="col.type" class="form-control">
              <input *ngIf="col.type=='checkbox'" [checked]="product[col.key]" (change)="product[col.key] = !product[col.key]" [type]="col.type" class="form-control">
              <p *ngIf="col.type=='readonly'" >{{ product[col.key] }}</p>
            </td>
            <td>
              <div class="btn-group">
                <button (click)="onUpdate(product)" class="btn btn-info">
                  <i class="fa fa-refresh"></i>
                </button>
                <button (click)="onDelete(product)" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
