<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <form class="form-inline m-2">
          <div class="form-group">
              <div class="form-group row">
                  <label for="search" class="mx-2">Szűrés: </label>
                  <select name="" id="key" class="form-control mr-sm-2" (change)="onChangeKey($event)">
                      <option value="name">szerző</option>
                      <option value="title">cím</option>
                      <option value="description">leírás</option>
                      <option value="price">ár</option>
                      <option value="publisher">kiadó</option>
                      <option value="releaseYear">kiadás</option>
                  </select>
                  <input id="search" (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search" [value]="phrase">
                  <label for="search" class="mr-2">Rendezés: </label>
                  <select name="" id="order" class="form-control mr-sm-2" (change)="onChangeOrder($event)">
                      <option value="id">nincs</option>
                      <option value="name">szerző</option>
                      <option value="title">cím</option>
                      <option value="description">leírás</option>
                      <option value="price">ár</option>
                      <option value="publisher">kiadó</option>
                      <option value="releaseYear">kiadás</option>
                  </select>
              </div>
          </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th *ngFor="let col of cols">{{ col.text }} </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products$ | async | filter:phrase:key | sorter:order">
            <td *ngFor="let col of cols">
              <input *ngIf="col.type=='text'" [(ngModel)]="product[col.key]" [type]="col.type" class="form-control">
              <input *ngIf="col.type=='checkbox'" [checked]="product[col.key]" (change)="product[col.key] = !product[col.key]" [type]="col.type" class="form-control">
              <p *ngIf="col.type=='readonly'" >{{ product[col.key] }}</p>
            </td>
            <td>
              <div class="btn-group">
                <button (click)="onUpdate(product)" class="btn btn-info">
                  <i class="fa fa-refresh"></i>
                </button>
                <button (click)="onDelete(product)" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
