<!--
    Amint látjátok, a fő komponenseket már elkészítettem és a menüt is beállítottam.
- Ez a főoldala a webshopnak.
- Jelenjen meg egy kiemelt termék sor az oldal tetején.  
> 5 kiemelt terméket tartalmazzon, azok közül jelenjenek meg, amelyek featured tulajdonsága true.
> Jelenjen meg egy akciós termék sor a kiemelt termékek alatt, ide bármilyen random termék 
kerülhet, szintén 5 darab legyen.  
-->

<div class="container-fluid mt-3  bg-dark">
    <div class="row ">
        <div class="col-12">
            <p class="h1 text-center"> Kiemelt könyveink </p>
        </div>
    </div>
    <!-- csabadoki komponense-->
      <app-product-pager [products]="featuredProducts"></app-product-pager>

    <div class="row mt-4">
        <div class="col-12 text-center">
            <p class="h1"> Akciós könyveink </p>
        </div>
    </div>
    <!-- csabadoki komponense-->
    <app-product-pager [products]="promotionProducts"></app-product-pager>
</div>