<footer class="text-white text-center text-md-left bg-primary pt-3">
    <div class="container">
        <div class="row">
        <div class="col-md-4">
            <h3>Navigáció</h3>
            <nav class="nav">

            </nav>
        </div>

            <div class="col-md-4">
                <h3>Elérhetőségek</h3>

            </div>
            <div class="col-md-4 text-right">
                <address>
                    !panCSERKÓdolók Kft. <br>
                    Lydia line 25++.
                </address>

            </div>
        </div>
    </div>

</footer>
